// Gatling + InfluxDB integration example
// Add these dependencies to your Gatling project

enablePlugins(GatlingPlugin)

scalaVersion := "2.13.12"

libraryDependencies ++= Seq(
  "io.gatling.highcharts" % "gatling-charts-highcharts" % "3.10.3" % "test",
  "io.gatling"            % "gatling-test-framework"    % "3.10.3" % "test",

  // Perfana gatling-to-influxdb plugin
  // https://github.com/perfana/gatling-to-influxdb
  "io.perfana" % "gatling-to-influxdb" % "1.0.0" % "test"
)